@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans KR", sans-serif;
}

.door-enter,
.door-exit {
    transition: all 1s ease-in-out;

    .left {
        // position: absolute;
        transition: all 1s ease-in-out;
    }

    .right {
        // position: absolute;
        transition: all 1s ease-in-out;
    }
}

.door-enter {
    position: absolute;
    opacity: 0;
    z-index: 1;
}

.door-enter.door-enter-active {
    opacity: 1;
}

.door-exit {
    z-index: 0;
}

.door-exit-active {
    .left {
        transform: translateX(-50vw);
    }

    .right {
        transform: translateX(50vw);
    }
}

main {
    width: 100vw;
    height: 100vh;

    display: flex;
}

.left {
    width: 50vw;
    height: 100vh;
}

.right {
    width: 50vw;
    height: 100vh;
}

.background {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &__select {
        width: 20vw;
    }
}
